<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="POSSystem"
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=POSSystem;Integrated Security=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v6.0"/>
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>
